USE [master]
GO
/****** Object:  Database [Ornek]    Script Date: 2.01.2023 22:36:09 ******/
CREATE DATABASE [Ornek]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ornek', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.POSTAR\MSSQL\DATA\Ornek.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ornek_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.POSTAR\MSSQL\DATA\Ornek_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ornek].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ornek]
GO
/****** Object:  Table [dbo].[Kullanici_Bilgi]    Script Date: 2.01.2023 22:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici_Bilgi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_adi] [nvarchar](50) NULL,
	[sifre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
